.recipe-menu {
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100%;
    background-color: #071926;
    color: #fff;
    z-index: 1;
}

.sections-content {
    width: 90%;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    margin: 20px auto 40px;
}

.section {
    flex: 0 0 20%;
    margin: 10px 20px;
    text-align: left;
}

.separation-line {
    height: 5px;
    border-top: 1px solid #607689;
    border-bottom: 1px solid #4d5f6f;
    margin: 18px 0;
}

.section-items {
    display: flex;
    flex-flow: column;
}

.children {
    /*color: #fff;*/
    /*color: #acc3d5;*/
    color: #b7ccdd;
    /*color: #aec4d6;*/
    /*color: #607689;*/
    /*color: #4d5f6f;*/
    text-decoration: none;
    /*text-shadow: 1px 1px #4d5f6f;*/
    text-shadow: 1px 1px 1px #4d5f6f;
    /*font-style: italic;*/
    letter-spacing: 0.5px;
    font-size: 18px;
    margin: 5px;
    /*text-shadow: 1px 1px #607689;*/
    /*text-shadow: 1px 1px 1px #607689;*/
}

.children:hover {
    text-decoration: underline;
}