html, body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    min-height:100%;
    position:relative;
    /*background-color: #0d2437;*/
    background-color: #f3f1f2;
}

.main-wrapper {
    /*background: url('./images/homepage.jpg') no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/

    margin-bottom: 60px;
}

.main-menu {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.main-menu-item {
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;
    width: 100%;
    text-align: center;
}

.main-menu-item {
    border-right: 1px solid #cccccc60;
}

.main-menu-item:first-child,
.main-menu-item:last-child {
    border: none;
}

.main-menu-item a {
    text-decoration: none;
    list-style-type: none;
    margin: 0 auto;
    color: #000;
    font-weight: bold;
}

.home-icon a {
    background-color: #d2303b;
    color: #fdfdfb;
    font-size: 23px;
    font-family: 'Rouge Script', cursive;
    text-shadow: 1px 1px 2px #082b34;
}

.home-icon a {
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.search-holder {
    flex: 3;
    padding: 0 25px;
}

.search-input {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    min-width: 100%;
    height: 100%;
}

.search-input::placeholder {
    color: #000;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.search-input:focus::placeholder {
    color: #082b3490;
}

.search-icon {
    width: 20px;
}

.item-link-dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #d2303b;
    margin-left: 5px;
}

.active-button {
    background-color: #0d2437;
}

.active-link {
    color: #fff !important;
}

.partial-menu {

}

.fade {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.subscription-form {
    background-color: #0d2437;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.subscription-info {
    display: flex;
    flex-flow: column;
    color: white;
}

.subscription-info h2 {
    margin-bottom: 0;
}

.subscription-info p {
    color: #b7ccdd;
    font-size: 14px;
}

.subscription-btn {
    border-radius: 30px;
    background-color: #d2303b;
    border: none;
    height: 40px;
    width: 100px;
    font-size: 14px;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    color: #fff;
}

.subscription-input {
    border-radius: 30px;
    border: none;
    height: 40px;
    width: 280px;
    font-size: 12px;
    -webkit-appearance: none;
    outline: none;
    padding: 5px 15px;
    margin-right: 10px;
}

.footer-content {
    background-color: black;
    color: white;
}

.footer-logo {
    background-color: #d2303b;
    color: #fdfdfb;
    font-size: 23px;
    font-family: 'Rouge Script', cursive;
    text-shadow: 1px 1px 2px #082b34;
}